@tailwind base;
@tailwind components;
@tailwind utilities;

.my-custom-input:-webkit-autofill {
    background-color: #eceac6 !important;
    box-shadow: 0 0 0px 1000px #eceac6 inset !important;
    -webkit-box-shadow: 0 0 0px 1000px #eceac6 inset !important;
}

.focus-label {
  top: -0.75rem; /* -top-3 */
  font-size: 0.875rem; /* text-sm */
  line-height: 1.25rem;
  color: #266E73; /* text-[#266E73] */
}

.nokora-regular {
    font-family: "Nokora", serif;
  }
  
  .nokora-bold {
    font-family: "Nokora", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.875rem /* 30px */;

  }

  .nokora-black {
    font-family: "Nokora", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.875rem /* 30px */;
    line-height: 2rem /* 36px */;


  }

  ion-icon {
    font-size: 25px;
  }

  @keyframes spin {
    to { transform: rotate(360deg); }
  }
  
  ion-icon[name="reload-outline"] {
    font-size: 26px;
    margin-bottom: -7px;
    
    /* new: */
    display: inline-block;       /* ensure transform applies correctly */
    animation: spin 1s linear infinite;
  }
  


  ion-icon[name="people-sharp"],
  ion-icon[name="person-circle"]{
    font-size: 33px; /* Font size for these specific icons */
  }

  ion-icon[name="person-add-sharp"],
  ion-icon[name="search"] {
    font-size: 28px; /* Font size for these specific icons */
  }
  
  /* Hide the scrollbar */
.scrollable-element {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* For Chrome, Safari, and other WebKit browsers */
.scrollable-element::-webkit-scrollbar {
  display: none;
}

ion-icon[name="cash-outline"] {
  font-size: 50px; /* Font size for these specific icons */
}

.small-text {
  font-size: 0.5rem ;
  line-height: 0.6rem ;
}

ul li::marker {
  color: black; /* Changes the bullet color */
}

.nokora-bold-1 {
  font-family: "Nokora", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3.23rem;
  line-height:1;
}

.nokora-regular-1 {
  font-family: "Nokora", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem; /*24px*/
  line-height: 2.2rem; /*32px*/
}

.text-glow {
    text-shadow: 2px 3px 3px #81a489cc;
}

.button-border {
    border-width: 1.5px;
}

.line-height {
  line-height:2;
}

.text-shadow-md {
  text-shadow: 0px 2px 2px rgba(19, 22, 21, 0.6);
}

.box-shadow-md {
  box-shadow: 0px 2px 2px rgba(19, 22, 21, 0.6);
}

@media (max-width: 767px) {
  .bg-mobile-doodle {
    background-image: url('../src/assets/chat_doodle.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}